/* to omit theme branding */

.grid-container.aux-nav-list {
    visibility: hidden;
    display: none;
}
li.nav-list-item.external {
    visibility: hidden;
    display: none;
}

#edit-this-page {
  visibility: hidden;
  display: none;
}

/* can't make their breadcrumbs work, so don't display them. */

nav {display: none;}

/* css for listing petals, steps, and tasks  */

.wrap{
  cursor: pointer;
  outline: 2px solid;
}

div.list-grid-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: auto;
    gap: 20px;
  }

div.list-row {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px auto;
    text-align: left;
    align-items: center;
  }

  div.list-icon {
    display: flex;
    padding: 10px;
  }

  div.list-description {
    padding: 10px;
  }

  div.compact-grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div.compact-icon {
    display: block;
    padding: 10px;
  }

  div.compact-title {
    display: flex;
    height: 150px;
    padding: 30px;
  }

  div.compact-description {
    display: flex;
    padding: 30px;
  }


  /*
  div.description {
    display: flex;
    padding: 10px;
  }
  */

/* css for card pages */

hr {
  margin-bottom: 10px;
}

.cost-benefit-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:20px;
  gap: 20px;
}

.cost-benefit-grid-item-left {
  align-items: center;
  text-align: left;
  font-size: 2em;
  padding-left: 100px;
}

.cost-benefit-grid-item-right {
  align-items: center;
  text-align: right;
  font-size: 2em;
  padding-right: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows:100px;
    gap: 20px;
    outline: 2px solid #006400; 
  }

.grid-item {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }

  /*  text-align: left;
    align-items: center; */

  div.card {
    outline: 2px solid #006400; 
  }

  div.card h1 {
    padding: 5px;
    text-align: center;
  }

  div.card p {
    padding: 10px; 
  }
 
#card-quote {
    margin: -3px; 
    align:right;
    text-align:right;
  }
  
  img.card-icon {
    height: 100px;
    width:  100px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  img.toolkit-icon {
    /* background-color: white;*/
    border-style: none;
    height: 60px;
    width: 60px;
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  img.tag-icon {
    height: 40px;
    width:  40px;
  }

  div.icons-grid-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 33% 34% 33%;
    gap: 5px;
  }

div.icons-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.callout-left {
    outline: 2px solid; 
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div.callout-left h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  