.nav-grid-container {
    display: grid;
    grid-template-columns: 100px 5px 100px 5px 100px; 
    grid-template-rows:100px;
    gap: 0px;
    outline: none; 
  }
  
  .nav-grid-container-inner {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows:50px 50px;
    gap: 0px;
    outline: none; 
  }
  
  .nav-grid-item {
    text-align:  center;
    align-items: center;
  }
  
  .nav-grid-item > img {
    height: 50px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav-grid-item > p {
    height: 40px;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0em;
  }