---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1> {{ page.title }} </h1>

    <div style="background-color:DarkGreen;text-align:right;"><figure></figure>
      <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p style="color:White;">{{ page.quote }} <br/> &mdash; {{ page.quote-attribution }}</p>
      </blockquote>
  </figure></div>
   
    {{ content }}

  </body>
  <!-- <footer> "{{ page.quote }}" <br/> &mdash; {{ page.quote-attribution }} </footer> -->

  
</html>