---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
  
      div.card {
        outline: 2px solid #445c4c;
      }

      div.card h1 {
        padding: 5px;
        text-align: center;
      }

      div.card p {
        padding: 10px; 
      }

      div.quote {
        background-color:#445c4c;
        text-align:right;
        color: White;
      }

      blockquote {
        margin: -3px;
      }

      </style>
  </head>
  <body>
    <div class="card">
      <h1> {{ page.title }} </h1>
    
      {{ content }} <!-- | replace "<br>", "</p><p>" can't get to work!-->
    
      <div class="quote">
        <blockquote>
          <p>{{ page.quote }} <br/> &mdash; {{ page.quote-attribution }}</p>
        </blockquote>
      </div>
   
    </div>

  </body>
  <!-- <footer> "{{ page.quote }}" <br/> &mdash; {{ page.quote-attribution }} </footer> -->

  
</html>