---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ petal.number }} {{ page.title }} </title>
  </head>

  <body>
    {% include breadcrumbs.html %}
    <h1> {{ page.title }} </h1>
    
  
    <div class="grid-container">
      <div class="grid-item" height="40px">
        {% assign icon_path = site.tasks | where: "petal_number",page.number %} 
        <img class="logo" alt=" " src="/graphics/icons/{{ page.icon_shortcode }}.svg">
      </div>
      <div class="grid-item" >
        {{ page.tagline | downcase | capitalize }}
      </div>
    </div>
    <div>
    Tasks included in this petal:
    {% assign tasks = site.tasks | where: "petal_number",page.number %} 
    <ul>
    
        {% for task in tasks %}
        <li><a href="{{ task.url }}">{{ task.number }} &mdash; {{ task.title }} </a></li>
        {% endfor %}
    </ul>
    </div>
  </body>
</html>
