---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ petal.number }} {{ page.title }} </title>
  </head>

  <body>
    {% include breadcrumbs.html %}
    <h1> {{ page.title }} </h1>
    
  
    <div class="grid-container">
      <div class="grid-item" height="40px">
        {% assign icon_path = site.tasks | where: "number",page.number %} 
        <img class="logo" alt=" " src='{{ page.icon_shortcode | prepend: "/graphics/icons/" | append: ".svg" | relative_url }}'>
      </div>
      <div class="grid-item" >
        {{ page.tagline | downcase | capitalize }}
      </div>
    </div>

    <div>
      {% assign steps = site.steps | where: "part_of_petal_with_title",page.title %}  
      {% if steps == empty %}
      {% else %}
        <h2>Steps included in this petal</h2>
        <ul>
          {% for step in steps %}
            <li><a href="{{ task.url | relative_url }}">{{ step.number }} &mdash; {{ step.title }} </a></li>
          {% endfor %}
        </ul>
      {% endif %} 
    </div>

    <div>
      {% assign tasks = site.tasks | where: "part_of_petal_with_title",page.title %}  
      {% if tasks == empty %}
      {% else %}
        <h2>Tasks included in this petal</h2>
        <ul>
          {% for task in tasks %}
            <li><a href="{{ task.url | relative_url }}">{{ task.number }} &mdash; {{ task.title }} </a></li>
          {% endfor %}
        </ul>
      {% endif %} 
    </div>

    <div class="card-links">
      {% assign links = site.links | where: "petal", page.title %}
      {% if links == empty %}
      {% else %}
        <h2>Further information</h2>
        <ul>
          {% for link in links %}
            {% if link.source %}
              <li><a href={{link.link_url | relative_url }}> {{link.title }} </a> (from {{link.source}}) </li>
            {% else %}
              <li><a href={{link.link_url | relative_url }}> {{link.title }} </a> </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
   </div>
  </body>
</html>
