---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ petal.number }} {{ page.title }} </title>
  </head>

  <body>
    {% include breadcrumbs.html %}
    <h1> {{ page.title }} </h1>
    
  
    <div class="grid-container">
      <div class="grid-item" height="40px">
        {% assign icon_path = site.tasks | where: "number",page.number %} 
        <img class="logo" alt=" " src='{{ page.icon_shortcode | prepend: "/graphics/icons/" | append: ".svg" | relative_url }}'>
      </div>
      <div class="grid-item" >
        {{ page.tagline | downcase | capitalize }}
      </div>
    </div>

    {% include steps-in-petal.html %}
    {% include tasks-in-petal.html %}
    {% assign links = site.links | where: "petal", page.title %}
    {% include links.html %}
 
   </div>
  </body>
</html>
