---
layout: default
---

<html>
  <head> {% include head_custom.html %} </head>
  <body>
    {% include breadcrumbs.html %}
        <h1> {{ page.title }} </h1>
        
        {{ content }}

        <div class="list-grid-container">
            {% for petal in site.petals %}
            <div class="wrap" onclick='location.href ="{{petal.url }}";'>
                <div class="list-row">
                    
                   <div class="list-icon">
                        <img class='toolkit-icon' alt-text=' ' src={{ root_url | append: "/graphics/icons/" | append: petal.icon_shortcode | append: ".svg" }} >
                    </div>
                    <div class="list-description">
                         {{  petal.title | append: "<br/>" | append: petal.tagline }} 
                    </div>   
                
                </div>
            </div>
            {% endfor %}
        </div>

    </body>
</html>