---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.number }} &mdash; {{ page.title }}</title>
  </head>
  <body>

    {% include breadcrumbs.html %}
    <h1> {{ page.number }} &mdash; {{ page.title }}</h1>
    
    {{ page.tagline }}

    <!-- <div class="grid-container">
        <div class="grid-item" height="40px">
          <img class="logo" alt=" " src="/graphics/icons/{{ page.icon_shortcode }}.svg">
        </div>
        <div class="grid-item">
          {{ page.tagline | downcase | capitalize }}
        </div>
      </div>
    -->

    {% include tasks-in-step.html %}

  </body>
</html>