---
layout: default
---

<html>
  <head> {% include head_custom.html %} </head>
  <body>
    {% include breadcrumbs.html %}
        <h1> {{ page.title }} </h1>
        
        {{ content }}

        <div class="list-grid-container">
            {% assign sorted_tasks = site.tasks | sort: "nav_order" %}
            {% for task in sorted_tasks %}
            {% assign petal = site.petals| where: "title", task.part_of_petal_with_title| first %} 
            
            <div class="wrap" onclick='location.href ="{{task.url | relative_url }}";'>
                <div class="list-row">
                    
                    <div class="list-icon">
                        <p style={{ "font-size:x-large;padding:12px;background-color:#" | append: petal.colour |  append: ";color:#" | append: petal.text_colour | append: ";border:none;" }}>{{ task.number }} </p>
                    </div>
                    <div class="list-description">
                        <strong> {{  task.title }} </strong>
                    </div>   
                </div>
            </div>
            {% endfor %}

        </div>
    </body>
</html>